<head>
  <!--Leveraging the use of Vue's/Axios global build through a CDN for quick prototyping-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<div id="app">
  <div class="search-container">
    <input type="text" v-model="searchTerm" />
    <button @click="searchOperation">Search</button>
    <div class="slider">
      <label for="score">Score</label>
      <input type="range" id="score" min="0" max="20" v-model="score" @change="searchOperation">
      Value: {{ (score === '0') ? 'All' : score }}
    </div>
  </div>
  <div class="table-container">
    <table class="stock-table">
      <thead>
        <tr>
          <th @click="sortBy('name')">
            Company Name
            <i v-show="(sortKey === 'name')" :class="orderClass"></i>
          </th>
          <th @click="sortBy('uniqueSymbol')">
            Stock Symbol
            <i v-show="(sortKey === 'uniqueSymbol')" :class="orderClass"></i>
          </th>
          <th @click="sortBy('lastPrice')">
            Last Price
            <i v-show="(sortKey === 'lastPrice')" :class="orderClass"></i>
          </th>
          <th @click="sortBy('variation')">
            Variation (%)
            <i v-show="(sortKey === 'variation')" :class="orderClass"></i>
          </th>
          <th @click="sortBy('score.total')">
            Score
            <i v-show="(sortKey === 'score.total')" :class="orderClass"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(stock, index) in filteredStocks" :key="index">
          <td>{{ stock.name }}</td>
          <td>{{ stock.uniqueSymbol }}</td>
          <td>{{ stock.lastPrice }}</td>
          <td :class="stock.variation < 0 ? 'negative' : 'positive'">{{ stock.variation }}</td>
          <td>{{ stock.score.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <button @click="prevPage">Previous</button>
    <button @click="nextPage">Next</button>
  </div>
</div>

<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        stocks: [],
        score: '0',
        searchTerm: '',
        sortKey: 'name',
        sortOrder: 1,
        perPage: 10,
        currentPage: 1,
        totalItems: 0,
      }
    },
    mounted() {
      this.searchStocks();
    },
    computed: {
      orderClass() {
        return (this.sortOrder === 1) ? 'sort-by-asc' : 'sort-by-desc';
      },
      skip() {
        return (this.currentPage - 1) * this.perPage;
      },
      filteredStocks() {
        let stocksResponse = this.stocks;
        this.addVirtualProperties(stocksResponse);

        if (this.sortKey) {
          this.sortResult(stocksResponse);
        }
        return stocksResponse;
      },
      totalPages() {
        return Math.ceil(this.totalItems / this.perPage);
      },
    },
    methods: {
      sortBy(key) {
        this.sortKey = key;
        this.sortOrder *= -1;
      },
      sortResult(stocksArray) {
        stocksArray.sort((a, b) => {
          const sortKey = this.sortKey;
          const order = this.sortOrder;

          const aValue = this.fetchByDotOperator(a, sortKey);
          const bValue = this.fetchByDotOperator(b, sortKey);

          if (aValue < bValue) {
            return -1 * order;
          } else if (aValue > bValue) {
            return order;
          } else {
            return 0;
          }
        });
      },
      fetchByDotOperator(object, value) {
        return value.split('.').reduce((acc, curr) => acc[curr], object);
      },
      addVirtualProperties(filteredArray) {
        filteredArray.forEach(stock => {
          stock.lastPrice = (stock.sharePrices) ? stock.sharePrices[stock.sharePrices.length-1].price : '';
          stock.variation = (stock.sharePrices) ? (stock.sharePrices[stock.sharePrices.length-1].price / stock.sharePrices[0].price).toFixed(2) : '';
        })
      },
      searchOperation() {
        this.currentPage = 1;
        this.searchStocks();
      },
      async searchStocks() {
        try {
          // const apiHost = 'http://localhost:3000'; // uncomment this line if running locally
          const apiHost = 'https://sws-stocks-viewer-api.up.railway.app';

          const scoreFilterValue = (this.score === '0') ? '' : this.score;
          const response = await axios.get(`${apiHost}/companies?search=${this.searchTerm}&includeSharePrices=1&take=${this.perPage}&skip=${this.skip}&score=${scoreFilterValue}`);
          this.stocks = response.data.data;
          this.totalItems = (this.stocks.length < this.perPage) ? this.stocks.length : response.data.totalCount;
        } catch (error) {
          console.error(error);
        }
      },
      prevPage() {
        if (this.currentPage > 1) {
          this.currentPage--;
        }
        this.searchStocks();
      },
      nextPage() {
        if (this.currentPage < this.totalPages) {
          this.currentPage++;
        }
        this.searchStocks();
      }
    }
  }).mount('#app')
</script>
