.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
}

.table-container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #F80;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px #F80;
    border-bottom-width: 0;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.pagination-container {
    text-align: center;
    padding-top: 20px;
}

.pagination-container button {
    margin-right: 10px;
}

.slider {
    padding-top: 15px;
}
